[Unit]
Description=Blueman Applet
Documentation=man:blueman-applet(1)

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-failure

[Install]
WantedBy=x-session.target
